# Entorno virtual

.venv/
.idea/
.env

# Variables de entorno
.env
secretos.env.txt
# Python
__pycache__/
*.pyc
*.pyo

# IDEs
.idea/
.vscode/

# Archivos de sistema
.DS_Store

# Carpeta donde se alojan los documentos subidos al sistema
subidas/

# Archivos de prueba
prueba.py