{% extends "base.html" %}

{% block title %}Archivos del curso{% endblock %}

{% block content %}

<div class="dashboard-hero">
    <h1>📂 Archivos del curso</h1>
    <p>{{ curso.nombre }}</p>
</div>

<div class="courses-section">

```
{% if archivos %}

    <div class="course-list">

        {% for archivo in archivos %}

        <div class="course-card">

            <span class="tag">
                {{ archivo.tipo_extension }}
            </span>

            <h4>{{ archivo.nombre }}</h4>

            <p>
                Fecha subida:
                {{ archivo.fecha_subida }}
            </p>

            <a
                href="{{ url_for('archivo.detalle_archivo',
                id_curso=curso.id_curso,
                id_archivo=archivo.id_archivo) }}"
                style="
                    display:inline-block;
                    margin-top:0.8rem;
                    padding:0.45rem 0.8rem;
                    background:var(--green-main);
                    color:white;
                    border-radius:8px;
                    text-decoration:none;
                    font-size:0.8rem;
                    font-weight:600;
                "
            >
                Ver detalle
            </a>

        </div>

        {% endfor %}

    </div>

{% else %}

    <div class="card">
        <p>No hay archivos en este curso.</p>
    </div>

{% endif %}
```

</div>

{% endblock %}
